<%= form_for [@user, @user.profile],
    url: user_profile_path(@user),
    method: :put do |f| %>

    <div class="field">
      <%= f.label :bio %><br>
      <%= f.text_area :bio %>
    </div>

    <div class="field">
      <%= f.label :homepage %><br>
      <%= f.text_field :homepage %>
    </div>

    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit "Save Changes", class: 'btn btn-success btn-xs' %>
    </div>
<% end %>
